* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  :root {
    --primary: #134E5E;
    --secondary: #6a9c89;
    --card: #cfe1d9;
  }
  
  body {
    margin: 0;
    background: linear-gradient(180deg, var(--primary), var(--secondary));
  }